#first {
  color: rgb(42, 97, 71);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 10px;
  margin-top: 10px;
}
#photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.accordion-button {
  background-color: white;
}
.accordion-button:hover {
  background-color: rgb(165, 197, 172);
}
.accordion-button:focus {
  background-color: rgb(165, 197, 172);
}
.accordion-button:not(.collapsed) {
  background-color: rgb(165, 197, 172);
  box-shadow: 0 0 0 0.25rem rgb(165, 197, 172);
}
h1 {
  color: rgb(42, 97, 71);
}
